/* NIKISTAG'S ADDINGS*/
/* local font */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Fixed meniu bar */
.selectedaction {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* Extension position over image */
.extension-text {
  position: absolute;
  top: 0px;
  left: 0px;
}

mark {
  background-color: #424242;
  color: #fafafa;
}

/* Checkbox position over image in preview modal */
.preview-checkbox {
  position: absolute;
  top: 10px;
  left: 30%;
  background-color: #242323;
  color: #f5e6e6;
}


/* Folder tree manipulation*/
/* Remove default bullets */
ul,
#treeView {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#treeView {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.folder-tree {
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.folder-tree::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "create_new_folder";
  color: orange;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-down::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "folder_open";
  color: orange;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-down-active::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "folder_open";
  color: #ad1457;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-empty::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "folder";
  color: orange;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-empty-active::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "folder";
  color: #ad1457;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-root::before {
  font-family: "Material Icons";
  font-size: 30px;
  content: "folder";
  color: darkcyan;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-ushare {
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
}

.folder-tree-ushare::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "create_new_folder";
  color: purple;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-ushare-down::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "folder_open";
  color: purple;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-ushare-down-active::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "folder_open";
  color: #ad1457;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-ushare-empty::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "folder";
  color: purple;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-ushare-empty-active::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "folder";
  color: #ad1457;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-nshare {
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
}

.folder-tree-nshare::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "create_new_folder";
  color: indigo;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-nshare-down::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "folder_open";
  color: indigo;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-nshare-down-active::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "folder_open";
  color: #ad1457;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-nshare-empty::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "folder";
  color: indigo;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.folder-tree-nshare-empty-active::before {
  font-family: "Material Icons";
  font-size: 25px;
  content: "folder";
  color: #ad1457;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

/* Hide the nested list */
.nested {
  display: none;
}

.nested-ushare {
  display: none;
}

.nested-nshare {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active-tree {
  display: block;
}

.active-tree-ushare {
  display: block;
}

.active-tree-nshare {
  display: block;
}

/*  Inactive links */
.inactive {
  color: #292a2b;
  cursor: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.inactive-ushare {
  color: #292a2b;
  cursor: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.inactive-nshare {
  color: #292a2b;
  cursor: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* SIDE NAVIGATION FOR FOLDER TREE */

.sidenav-tree {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.sidenav-tree span.badge {
  margin-top: calc(24px - 11px);
}

nav .sidenav-trigger {
  float: left;
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 18px;
}

nav .sidenav-trigger i {
  height: 56px;
  line-height: 56px;
}

.sidenav-tree .collapsible,
.sidenav-tree.fixed .collapsible {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sidenav-tree .collapsible li,
.sidenav-tree.fixed .collapsible li {
  padding: 0;
}

.sidenav-tree .collapsible-header,
.sidenav-tree.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
}

.sidenav-tree .collapsible-header:hover,
.sidenav-tree.fixed .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav-tree .collapsible-header i,
.sidenav-tree.fixed .collapsible-header i {
  line-height: inherit;
}

.sidenav-tree .collapsible-body,
.sidenav-tree.fixed .collapsible-body {
  border: 0;
  background-color: #fff;
}

.sidenav-tree .collapsible-body li a,
.sidenav-tree.fixed .collapsible-body li a {
  padding: 0 23.5px 0 31px;
}

.sidenav-tree {
  position: fixed;
  width: 320px;
  left: 0;
  top: 0px;
  margin: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

.sidenav-tree.right-aligned {
  right: 0;
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
  left: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.sidenav-tree .collapsible {
  margin: 0;
}


.sidenav-tree li.active-branch {
  background-color: rgba(0, 0, 0, 0.05);
}


.sidenav-tree li>a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}


.sidenav-tree.sidenav-tree-fixed {
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  position: fixed;
}

.sidenav-tree.sidenav-tree-fixed.right-aligned {
  right: 0;
  left: auto;
}

@media only screen and (max-width: 992px) {
  .sidenav-tree.sidenav-tree-fixed {
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }

  .sidenav-tree.sidenav-tree-fixed.right-aligned {
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
  }

  .sidenav-tree>a {
    padding: 0 16px;
  }

  .sidenav-tree .user-view {
    padding: 16px 16px 0;
  }
}

.sidenav-tree .collapsible-body>ul:not(.collapsible)>li.active,
.sidenav-tree.sidenav-tree-fixed .collapsible-body>ul:not(.collapsible)>li.active {
  background-color: #ee6e73;
}

.sidenav-tree .collapsible-body>ul:not(.collapsible)>li.active a,
.sidenav-tree.sidenav-tree-fixed .collapsible-body>ul:not(.collapsible)>li.active a {
  color: #fff;
}

.sidenav-tree .collapsible-body {
  padding: 0;
}

.sidenav-tree-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}

/* Drag and drop area */
#filesdroparea {
  border: 2px solid green;
  margin: 5px;
}

#folderdroparea {
  border: 2px solid green;
  margin: 5px;
}

#filesdroparea.highlight {
  border-color: purple;
}

#folderdroparea.highlight {
  border-color: purple;
}